<h1 mat-dialog-title>Tarefa adicionada com sucesso</h1>
<div mat-dialog-content class="card-registro">
  <mat-form-field appearance="fill">
    <mat-label>Titulo</mat-label>
    <input matInput [value]="task.title" disabled>
  </mat-form-field>
      
  <mat-form-field appearance="fill">
    <mat-label>Descrição</mat-label>
    <textarea matInput [value]="task.description" disabled></textarea>
  </mat-form-field>
    
  <mat-form-field color="primary">
    <mat-label>Data limite</mat-label>
    <input matInput [value]="task.limit_date" disabled>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="allTasks()">Ver todas</button>
  <button mat-button mat-dialog-close (click)="createTask()">Adicionar nova</button>
</div>
